<table>
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Active</td>
    <td>SIP</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @phones.each do |phone| %>
    <tr>
      <td><%= phone.id %></td>
      <td><%= phone.name %></td>
      <td><%= phone.is_active %></td>
      <td><%= phone.is_sip %></td>
      <td><%= link_to "Show", phone_path(phone) %> | <%= link_to "Edit", edit_phone_path(phone) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New", new_phone_path %>